{% extends 'Dashboards/base-dash.html' %}

{% load static %}

{% block title%} Modificar Direccion {% endblock %}

{% block content %}

<div id="page-content-wrapper">
    

    <!--CONTENIDO DE LA PAGINA-->

    <div class=" container-fluid px-4 p-5 " style="background-color: white;">

        <form action="{% url 'dashboard:modificar_direc' direc.id%}" id="form-new-direc" method="POST" class="shadow p-3 ">

            <h3 class="text-center p-3">Modificar Direccion</h3>

            {% csrf_token %}
            <div class="col-12">

                <div class="form-floating mb-3 is-invalid">
                    <input type="text" class="form-control" id="nuevoNombre" placeholder="name@example.com"
                        name="nuevoNombre" value="{{direc.nombre}}">
                    <label for="floatingInput">Nombre</label>
                    <div class="invalid-feedback">
                        Ingrese un nombre valido (3 o mas digitos)
                    </div>
                </div>

            </div>

            <div class="col-12">

                <div class="form-floating mb-3 is-invalid">
                    <input type="text" class="form-control" id="nuevaDirec" placeholder="name@example.com" name="direc" value="{{direc.direccion}}">
                    <label for="floatingInput">Direccion</label>

                    <div class="invalid-feedback">
                        Ingrese una direccion valida (3 o mas digitos)
                    </div>
                </div>

            </div>

            <div class="col-12">

                <div class="form-floating mb-3 is-invalid">
                    <input type="number" class="form-control" id="nuevoNum" placeholder="name@example.com"
                        name="regNum" value="{{direc.numero}}">
                    <label for="regNum">Numero</label>

                    <div class="invalid-feedback">
                        Ingrese un numero de direccion valida (4 numeros)
                    </div>
                </div>

            </div>

            <div class="col-12">

                <div class="form-floating mb-3">
                    <select class="form-select" id="regRegion" aria-label="Floating label select example"
                        name="regRegion">
                        <option selected>{{direc.region}}</option>
                    </select>
                    <label for="regRegion">Region</label>
                    <div class="invalid-feedback">
                        Porfavor seleccione una region
                    </div>
                </div>

            </div>

            <div class="col-12">

                <div class="form-floating mb-3">
                    <select class="form-select" id="regComuna" aria-label="Floating label select example"
                        name="regComuna">
                        <option selected>{{direc.comuna}}</option>
                    </select>
                    <label for="regComuna">Comuna</label>
                    <div class="invalid-feedback">
                        Porfavor seleccione una comuna
                    </div>
                </div>
            </div>




            <div class="col-12">

                <div class="form-floating mb-3 is-invalid">
                    <input type="number" class="form-control" id="nuevoCpo" placeholder="name@example.com"
                        name="cpostalComuna" value="{{direc.cod_postal}}">
                    <label for="floatingInput">Codigo postal</label>

                    <div class="invalid-feedback">
                        Ingrese un codigo postal valido (7 numeros)
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <a href="{% url 'dashboard:direcciones' %}">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </a>
                <button type="submit" class="btn btn-success" id="regNuevaDirec">Modificar</button>
            </div>
        </form>

    </div>

</div>



{% endblock %}


{% block js %}

<script src="{% static 'js/apisConecction.js' %}"></script>
<script src="{% static 'js/validacion.js    ' %}"></script>
    
{% endblock js %}
    