{% extends "ProyectoEtApp/base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

<!--todo| CARRUSEL PRINCIPAL |-->
<div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="{% static 'ProyectoEtApp/img/Logo/carr-logo.jpg' %}" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'ProyectoEtApp/img/Logo/carr-logo2.jpg' %}" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{% static 'ProyectoEtApp/img/Logo/carr-logo3.jpg' %}" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--todo | PROMOCION DE PAGINA |-->
<div class="container mt-3">

  <div class="row ">

    <div class="col m-3 text-center p-3 shadow">
      <div>
        <img src="{% static 'ProyectoEtApp/img/Logo/log-deliv2.png' %}" alt="" width="190" height="">
      </div>

      <div>
        <h4>Los envios mas rapidos</h4>
      </div>
    </div>

    <div class="col m-3 text-center p-3 shadow">
      <div class="mt-4">
        <img src="{% static 'ProyectoEtApp/img/Logo/log-aten.png' %}" alt="" width="140" height="">
      </div>

      <div class="mt-4">
        <h4>Atencion 24 horas</h4>
      </div>
    </div>

    <div class="col m-3 text-center p-3 shadow">
      <div class="mt-4">
        <img src="{% static 'ProyectoEtApp/img/Logo/log-local.png' %}" alt="" width="140" height="">
      </div>

      <div class="mt-4">
        <h4>3 Tiendas fisicas</h4>
      </div>
    </div>

  </div>
</div>


<!--todo | Productos |-->
<div class="container mt-3">
  <h1 class=" fs-1 fw-normal text-center p-3">Productos estrella</h1>
  <div class="row">

    <!--! INGRESAR DATOS-->

  </div>
</div>


<!--todo| CARRUSEL PRODUCTOS EN OFERTA |-->

{% if descuentos %}



<div class="container">

  <p class="fs-1 fw-normal text-center p-3">Ofertas especiales</p>

  <div class="carousel">
    <div class="row d-flex align-items-center justify-content-center carousel__contenedor ">

      <button aria-label="Anterior" class="col-1 anterior btn btn-light"><i
          class="fa-solid fa-chevron-left"></i></button>

      <div class="col-10 carousel__lista">

        {% for producto in productos %}
        {% for descuento in descuentos %}
        {% if producto.id == descuento.producto.id %}
        <div class="carousel__elemento">

          <div class="card container m-3 p-2 shadow" style="width: 18rem;">
            <img src="{{producto.imagen.url}}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">{{producto.descripcion}}</p>

              <s class="text-danger">${{descuento.producto.precio}}</s>
              <p class="card-text text-danger fw-bold fs-5">$ {{producto.precio}}</p>


              <!--* BOTON AGREGAR-->

              <div class="d-grid gap-2 col-12 mx-auto">
                <a href="{% url 'carro:agregar' producto.id %}">
                  <button class="btn btn-outline-success" type="button">Agregar</button>
                </a>
              </div>

            </div>
          </div>

        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}

      </div>

      <button aria-label="Anterior" class="col-1 siguiente btn btn-light"><i
          class="fa-solid fa-chevron-right"></i></button>

    </div>

    <div role="tablist" class="carousel__indicadores">

    </div>

  </div>
</div>
{% endif %}


{% endblock %}


{% block js %}

<script src="{% static 'ProyectoEtApp/js/carousel.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>

{% endblock js %}