{% extends "ProyectoEtApp/base.html" %}
{% load static %}


{% block content %}




<!--CONTENIDO DE LA PAGINA-->
<!--CARRUSEL-->

<div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="{% static 'ProyectoEtApp/img/Logo/carr-logo.jpg' %}" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'ProyectoEtApp/img/Logo/carr-logo2.jpg' %}" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{% static 'ProyectoEtApp/img/Logo/carr-logo3.jpg' %}" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-3">

  <div class="row ">

    <div class="col m-3 text-center p-3 shadow">
      <div>
        <img src="{% static 'ProyectoEtApp/img/Logo/log-deliv2.png' %}" alt="" width="190" height="">
      </div>

      <div>
        <h4>Los envios mas rapidos</h4>
      </div>
    </div>

    <div class="col m-3 text-center p-3 shadow">
      <div class="mt-4">
        <img src="{% static 'ProyectoEtApp/img/Logo/log-aten.png' %}" alt="" width="140" height="">
      </div>

      <div class="mt-4">
        <h4>Atencion 24 horas</h4>
      </div>
    </div>

    <div class="col m-3 text-center p-3 shadow">
      <div class="mt-4">
        <img src="{% static 'ProyectoEtApp/img/Logo/log-local.png' %}" alt="" width="140" height="">
      </div>

      <div class="mt-4">
        <h4>3 Tiendas fisicas</h4>
      </div>
    </div>

  </div>
</div>

</div>


<!--Productos-->
<div class="container mt-3">
  <h1 class=" fs-1 fw-normal text-center p-3">Productos estrella</h1>
  <div class="row">

    <!--! INGRESAR DATOS-->

  </div>
</div>


<!--Productos oferta con carrusel-->
<div class="container mt-3">
  <h1 class=" fs-1 fw-normal text-center p-3">Ofertas especiales</h1>
  <div class="row">

    {% for i in descuentos %}

    <div class="card container mt-3 shadow" style="width: 18rem;">
      <img src="{{i.producto.imagen.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.producto.nombre}}</h5>
        <p class="card-text">{{i.producto.descripcion}}</p>
        <p class="card-text text-danger fw-bold fs-5">$ {{i.producto.precio}}</p>

        <!--* BOTON AGREGAR-->

        <div class="d-grid gap-2 col-12 mx-auto">
          <a href="{% url 'carro:agregar' i.producto.id %}">
            <button class="btn btn-outline-success" type="button">Agregar</button>
          </a>
        </div>

      </div>
    </div>

    {% endfor %}

  </div>
</div>

{% endblock %}